@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: #ffffff;
	scroll-behavior: smooth;
	font-family: "Inter", sans-serif;
}

.inter-font {
	font-family: "Inter", sans-serif;
}

.lexend-font {
	font-family: 'Lexend', sans-serif;
}
